
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.24);
}

.compass {
  width: 75%;
  aspect-ratio: 1;
  text {
    transform: translate(var(--x), var(--y)) scale(5);
    fill: hsla(0, 0%, 83%, 0.329);
    text-anchor: middle;
    font-family: 'Roboto Mono', monospace;
  }
  .current-room {
    transform: rotate(30deg) scale(0.85);
    fill: hsla(0, 0%, 0%, 0.329);
    stroke: rgb(75, 75, 75);
    stroke-width: 3px;
  }
  .other-rooms{
    transform: translate(var(--x),var(--y)) rotate(30deg) scale(0.8);
    &:hover {
      fill: blue;
    }
  }
}

