.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.24);
}

.compass {
  width: 75%;
  aspect-ratio: 1;
  g {
    transform: translate(50%, 50%) scale(0.4)
  }
  .current-room {
    transform: rotate(30deg) scale(0.85);
    fill: hsla(0, 0%, 0%, 0.329);
    stroke: rgb(75, 75, 75);
    stroke-width: 3px;
  }
  .other-rooms{
    transform: translate(var(--x),var(--y)) rotate(30deg) scale(0.9);
    &:hover {
      fill: blue;
    }
  }
}

